[Desktop Entry]
Version=1.0
Name=Midi Lovense Bridge
Comment=Connect your lovense toys to midi devices
Exec=/usr/bin/midi-lovense-bridge
Icon=/usr/share/midi-lovense-bridge/windows.png
Terminal=false
Type=Application
Categories=Utility;Application;
