Package: midi-lovense-bridge
Version: 1.0
Section: misc
Priority: low
Architecture: all
Description: Connect Midi hardware to lovense toys
Depends: default-jre
Maintainer: openstatic.org <support@openstatic.org>
